{{!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{bathroom.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{bathroom.name}}</p>
          <p>
            <strong>Location:</strong> {{bathroom.location}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div> --}}


<head>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<title>Potta Porty</title>
 <link rel="stylesheet" type="text/css" href="styles.css">
<meta content='Refuge Restrooms' name='description'>
<meta content='gender neutral restrooms,gender,neutral,restrooms, unisex restrooms, unisex, restrooms, refuge restrooms, refuge, restrooms' name='keywords'>
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' name='fontawesome' rel='stylesheet'>
<meta content='RefugeRestrooms.org' name='author'>
<meta content='initial-scale=1, maximum-scale=1' name='viewport'>
<script src='https://maps.googleapis.com/maps/api/js?v=quarterly&amp;libraries=places&amp;key=AIzaSyBXcCrqzMlm-ZmtNQve7AuipNdE4vySUF0'></script>
<link rel="stylesheet" media="all" href="/assets/application-600b340e4453ca302b8d1159c6ab5f9723cd7c2d45e81844c160444ae8232283.css" data-turbolinks-track="true" />
<script src="/packs/application-8c974ec070d9690c47e5.js" data-turbolinks-track="reload"></script>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="gSr1+vfmrKTkYjEk5/TEr6H/11jsbgWVKgZVEFR3QWGGxXrXoKhYgRuAtkXqtoD2UxX3PSUcJH8whFKNnor6tg==" />

</head>
<body>
<header>
<div class='header'>
<div class='container'>
<div class='container'>
<div class='row min-headroom'>
<div class='col-xs-12'>
<nav class='nav navbar-default' role='navigation'>
<!-- Brand and toggle get grouped for better mobile display -->
<div class='navbar-header'>
<a class='toiletLogo' href='/' id='logo'>
<div class='navbar-brand'>Refuge Restrooms</div>
</a>
<button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<i class='fa fa-bars fa-2x'></i>
</button>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
<ul class='nav navbar-nav navbar-right'>
<li><a href="/restrooms/new">Submit a New Restroom</a></li>
<li class='dropdown'>
<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
Resources
<b class='caret'></b>
</a>
<ul class='dropdown-menu'>
<li></li>
<li><a href="/signs">Download Unisex Restroom Signs</a></li>
<li><a href="/api/docs/">Public API</a></li>
</ul>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
</nav>


<div class='row search-container'>
<form class="search-restrooms-form" action="/restrooms" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
<input type="hidden" name="lat" id="lat" value="" />
<input type="hidden" name="long" id="long" value="" />
<div class='input-group'>
<input type="text" name="search" id="search" value="Current Location" class="form-control search-bar" aria-label="Enter an address" />
<div class='input-group-btn'>
<button aria-label='Search' class='btn btn-light-purple submit-search-button' title='Search' type='button' value='Search'>
<i class='fa fa-search fa-2x'></i>
<i class='fa fa-refresh fa-spin fa-2x'></i>
</button>
<button aria-label='Search by Current Location' class='btn btn-light-purple current-location-button' title='Search by Current Location' type='button'>
<i class='fa fa-location-arrow fa-2x'></i>
<i class='fa fa-refresh fa-spin fa-2x'></i>
</button>
</div>
</div>
</form>

</header>
<main>
<div class='container'>

<div class='row'>
<div class='col-xs-12 headroom'>
<div class='clearfix' id='filters'>
<div class='btn-group' data-toggle='buttons'>
<label class='filter btn btn-light-purple linkbutton' id='ada_filter' title='Accessible'>
<input type='checkbox'>
<i class='fa fa-wheelchair'></i>
</label>
<label class='filter btn-light-purple btn linkbutton' id='unisex_filter' title='Unisex / Gender neutral'>
<input type='checkbox'>
<i class='fa fa-transgender-alt'></i>
</label>
<label class='filter btn-light-purple btn linkbutton' id='changing_table_filter' title='Changing table'>
<input type='checkbox'>
<i class='fa fa-child'></i>
</label>
</div>
<div class='map-toggle-btn mapToggle linkbutton btn-lg btn-light-purple'>
Map View
</div>
</div>
</div>
</div>
<div class='restrooms-index-content'>
<div class='row'>
<div class='col-sm-12 headroom'>
<div id='results'>
<div id="mapContainer" data-latitude="33.1087872" data-longitude="-117.0628608"><div id='mapArea'></div>
</div></div>
</div>
</div>
<div class='row'>
<div class='col-sm-12 headroom'>
<ul class='restrooms-list' id='list'>
<li class='listItem clearfix   no_changing_table' data-id='33499'>
<div class='listItemImage'>
<!-- image tag goes here -->
</div>
<div class='itemInfo'>
<div class='itemName'><a href="/restrooms/33499">Trader Joe&#39;s</a></div>
<div class='itemStreet'>Center City Pkwy, Escondido, Ca</div>
<div class='itemRating'>Not yet rated</div>
</div>
<div class='itemExtraInfo'>
<div class='itemDistance'>
0.85
miles /
1.37
kilometers
</div>
<div class='itemIcons'>
<div class='unisexRestroom' title='Unisex / Gender neutral'>
<i class='fa fa-transgender-alt fa-2x'></i>
</div>
<div class='ADARestroom' title='Accessible'>
<i class='fa fa-wheelchair fa-2x'></i>
</div>
</div>
</div>
</li>
<li class='listItem clearfix  not_accessible no_changing_table' data-id='34608'>
<div class='listItemImage'>
<!-- image tag goes here -->
</div>
<div class='itemInfo'>
<div class='itemName'><a href="/restrooms/34608">California Center For The Arts Escondido</a></div>
<div class='itemStreet'>340 N Escondido Blvd, Escondido, California</div>
<div class='itemRating'>Not yet rated</div>
</div>
<div class='itemExtraInfo'>
<div class='itemDistance'>
1.57
miles /
2.53
kilometers
</div>
<div class='itemIcons'>
<div class='unisexRestroom' title='Unisex / Gender neutral'>
<i class='fa fa-transgender-alt fa-2x'></i>
</div>
</div>
</div>
</li>
<li class='listItem clearfix  not_accessible no_changing_table' data-id='24170'>
<div class='listItemImage'>
<!-- image tag goes here -->
</div>
<div class='itemInfo'>
<div class='itemName'><a href="/restrooms/24170">272 E Via Rancho Pkwy, Escondido, Ca 92025, Usa</a></div>
<div class='itemStreet'>272 E Via Rancho Pkwy, Escondido, California</div>
<div class='itemRating'>Not yet rated</div>
</div>
<div class='itemExtraInfo'>
<div class='itemDistance'>
2.61
miles /
4.2
kilometers
</div>
<div class='itemIcons'>
<div class='unisexRestroom' title='Unisex / Gender neutral'>
<i class='fa fa-transgender-alt fa-2x'></i>
</div>
</div>
</div>
</li>


 

</ul>
</div>
</div>
</div>

<footer>
<div class='footer'>
<a aria-label='Refuge Restrooms on GitHub' class='iconLink' href='https://github.com/loeljee/PottaPorty'>
<i class='icon fa fa-github-square fa-3x'></i>
</a>
<a aria-label='Refuge Restrooms on twitter' class='iconLink' href='https://twitter.com'>
<i class='icon fa fa-twitter-square fa-3x'></i>
</a>
<a aria-label='Refuge Restrooms on Facebook' class='iconLink' href='https://www.facebook.com'>
<i class='icon fa fa-facebook-square fa-3x'></i>
</a>
<br>
Check out our app on github!
<a href='https://github.com/RefugeRestrooms/refugerestrooms'>code on github.</a>
<br>
&copy; 2018 PottaPorty restrooms.
</div>
</footer>

</div>
</main>
</body>
