<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{bathroom.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{bathroom.name}}</p>
          <p>
            <strong>Location:</strong> {{bathroom.location}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
