<html>

<head>
  <title>Google Map</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJvB-Nh1UZ-Vkveoej_xJah4frasPeTgc&callback=initMap"
    async defer></script>
  <meta name="viewport" content="initial-scale=1.0">
  <script src="/js/map.js"></script>
  <meta charset="utf-8">
  <style>
    body {
      height: 100vh;
      width: 100vw;
    }
      #map {
      height: 80vh;
      width: 80vw;
    }
  </style>
</head>

<body style="background-image: none">
  <div class="col-auto">
       <a href="/" type="button" id="current" class="btn btn-outline-primary"><i
        class="fas fa-location-arrow"></i>Back to search</a>
    <a href="/listview" type="button" id="current" class="btn btn-outline-primary"><i
        class="fas fa-location-arrow"></i>Listview</a>
  </div>
  <div id="map"></div>

</body>

</html>