
<script>
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://refugerestrooms.innocraft.cloud/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

 <script src="/js/addbathroom.js?v=1"></script>

<main>
<div class='container'>

<div class='row'>
<div class='col-sm-12'>
<div class='new-restrooms-form-container form-container'>
<h3>Submit a restroom to our database</h3>
</div>
<form id="bathroomform" action="/api/add/bathroom" method="post">
<div class="form-group string required restroom_name"><label class="string required control-label" for="restroom_name"><abbr title="required">*</abbr> Name</label><input class="string required form-control" required="required" aria-required="true" maxlength="255" size="255" type="text" name="restroom[name]" id="restroom_name" /></div>
<div class="form-group string required restroom_street"><label class="string required control-label" for="restroom_street"><abbr title="required">*</abbr> Street</label><input class="string required form-control" required="required" aria-required="true" maxlength="255" size="255" type="text" name="restroom[street]" id="restroom_street" /></div>
<div class="form-group string required restroom_city"><label class="string required control-label" for="restroom_city"><abbr title="required">*</abbr> City</label><input class="string required form-control" required="required" aria-required="true" maxlength="255" size="255" type="text" name="restroom[city]" id="restroom_city" /></div>
<div class="form-group string required restroom_state"><label class="string required control-label" for="restroom_state"><abbr title="required">*</abbr> State/Province</label><input class="string required form-control" required="required" aria-required="true" maxlength="255" size="255" type="text" name="restroom[state]" id="restroom_state" /></div>
<div class="form-group country required restroom_country"><label class="country required control-label" for="restroom_country"><abbr title="required">*</abbr> Country</label><select class="country required form-control form-control" required="required" aria-required="true" name="restroom[country]" id="restroom_country"><option value=""></option>

<option value="US" selected>United States</option>

<option value="CA">Canada</option>
<option value="GB">United Kingdom</option>
<option value="MX">Mexico</option>
<option disabled="disabled" value="---------------">---------------</option>


<input type="hidden" name="restroom[latitude]" id="restroom_latitude" />
<input type="hidden" name="restroom[longitude]" id="restroom_longitude" />
<input type="hidden" value="0" name="restroom[edit_id]" id="restroom_edit_id" />
<input type="hidden" value="true" name="restroom[approved]" id="restroom_approved" />

<div class="form-group text optional restroom_comment"><label class="text optional control-label" for="restroom_comment">Comment</label><textarea class="text optional form-control span6" placeholder="(Act like you are a customer then use the bathroom...)" name="restroom[comment]" id="restroom_comment">
</textarea></div>
<input type="submit" id="addbutton" name="commit" value="Add a Restroom" class="linkbutton linkbutton" data-disable-with="Save Restroom" />
</form>
</div>
</div>
</div>
</div>
</main>

