<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potta Porty</title>
    <link rel="icon" href="assets/images/AS_square_logo.png">
    <!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
            <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- Link to Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <!-- <link href="assets/css/style.css" type="text/css" rel="stylesheet" /> -->
    <!-- Added link to Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- Added link to the jQuery Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="home.css" type="text/css" rel="stylesheet" />
    <style>
        body {
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 100%, transparent), url(../images/backround.jpg);
    background-size: cover, cover;
    background-position: center, center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    </style>
</head>
<body>
    <div class="container">
        <div class="card animated fadeInLeft" id="title-div">
            <!-- <p id="main-lead">When you just need to go...</p> -->
            <!-- <section class="container"> -->
            <!-- <h1>Potta Porty</h1> -->
            <button id="message" data-hover="When you just need to go...">
                <div>Potta Porty</div>
            </button>
            <!-- <p>
                      Twitter @
                      <a href="https://twitter.com/MadsBHaakansson">MadsBHaakansson</a>
                    </p> -->
            <!-- </section> -->
            <!-- <h1 id="main-title">Potta Porty</h1>
            <p id="main-lead">When you just need to go...</p> -->
        </div>
        <br>
        <br>
        <br>
        <div class="card animated fadeInRight">
            <!-- <div class="card-header">
                Potta Porty
            </div> -->
            <div class="card-body">
                <form>
                    <!-- <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="UTC, La Jolla, CA">
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-lg" title="Search"><i class="fas fa-search"></i></button>
                    <button type="submit" class="btn btn-outline-primary btn-lg" title="Search by Current Location"><i class="fas fa-location-arrow"></i></button>
                </form> -->
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto" id="input-area">
                                <label class="sr-only" for="inlineFormInput">Name</label>
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="UTC, La Jolla, CA">
                            </div>
                            <div class="col-auto">
                                <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                                </div> -->
                            </div>
                            <!-- <div class="col-auto">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Remember me
                                    </label>
                                </div>
                            </div> -->
                            <div class="col-auto">
                                <button type="button" id="search" class="btn btn-outline-primary" title="Search"><i class="fas fa-search"></i></button>
                               <a href="/listview" type="button" id="current" class="btn btn-outline-primary" title="Search by Current Location"><i
                                        class="fas fa-location-arrow"></i></a>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>