<br>
<div class="row">
    <div class="col-md-8">
        <img src="./images/toilet.png" style="width: 5%;"></i>&nbsp;&nbsp;<strong>LOCATION</strong>
        
    </div>
    <div class="col-md-4">
        <strong>MILES AWAY</strong>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-8">
        <img src="./images/toilet.png" style="width: 5%;">&nbsp;&nbsp;Tioga Hall 11th Floor, 9500 Gilman Dr, La Jolla, CA
        
    </div>
    <div class="col-md-4">
        0.08 miles / 0.13 kilometers
        
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <img src="./images/toilet.png" style="width: 5%;">&nbsp;&nbsp;UCSD AP&M Building, 3rd Floor, Muir College Drive, San Diego, CA California
        
    </div>
    <div class="col-md-4">
        0.27 miles / 0.43 kilometers
        
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <img src="./images/toilet.png" style="width: 5%;">&nbsp;&nbsp;UCSD Women's Center, 9500 Gilman Dr. , La Jolla, California
        
    </div>
    <div class="col-md-4">
        0.28 miles / 0.45 kilometers
    </div>
</div>
<hr>