/* .list-group-item {
  line-height: 2.5;
}

body {
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 100%, transparent), url(https://images.pexels.com/photos/874629/pexels-photo-874629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover, cover;
	background-position: center, center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title-div {
    width: 100%;
    height: 150px;
    opacity: .8;
}

#main-lead {
    visibility: hidden;
}

#main-lead:hover {
    visibility: visible;
}

#main-title {
    text-align: center;
    padding-top: 50px;
}

#main-title:hover {
    margin-left: -400px;

}

.container {
    width: 60%;
    height: auto;
    position: relative;
	top: 30%;
	transform: perspective(1px) translateY(-50%);
}

#map {
  height: 100vh;
  width: 100vw;
} */




#title-div {
   width: 100%;
   height: 150px;
   opacity: .8;
}

#message {
   margin-top: 20px;
}

   a:hover{border-bottom: 1px solid #111;}
   h1{font-size: 2em; padding: 20px 0;}
   p{
     font-size: .75em;
     text-transform: uppercase;
     letter-spacing: 2px;
     padding: 20px 0;
   }

   button:hover{cursor: pointer}
   button {
     background: transparent; outline: none;
     position: relative;
    
     padding: 15px 50px;
     overflow: hidden;
   }


   button:hover:before{opacity: 1; transform: translate(0,0);}
   button:before{
     content: attr(data-hover);
     position: absolute;
     top: 1.1em; left: 0;
     width: 100%;
     letter-spacing: 3px;
     font-weight: 800;
     font-size: 28px;;
     opacity: 0;
     transform: translate(-100%,0);
     transition: all .3s ease-in-out;
   }
  
     button:hover div{opacity: 0; transform: translate(100%,0)}
     button div{
       margin-top: 15px;
       text-transform: uppercase;
       letter-spacing: 3px;
       font-weight: 800;
       font-size: 28px;
       transition: all .3s ease-in-out;
     }

.container {
 width: 60%;
 height: auto;
 position: relative;
    top: 28%;
    transform: perspective(1px) translateY(-50%);
}

#input-area {
 margin-top: 8px;
 width: 80%;
}

#map {
 height: 100vh;
 width: 100vw;
}