body {
  font-family: 'Open Sans', sans-serif;
}

.nav-link:hover {
  text-decoration: none;
}

#title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h3 {
  font-weight: 700;
}

#title-div {
   width: 100%;
   height: 150px;
   opacity: .8;
}

#message {
   margin-top: 20px;
   border: none;
}

   a:hover{border-bottom: 1px solid #111;}
   h1{font-size: 2em; padding: 20px 0;}
   p{
     font-size: .75em;
     text-transform: uppercase;
     letter-spacing: 2px;
     padding: 20px 0;
   }

   button:hover{cursor: pointer}
   button {
     background: transparent; outline: none;
     position: relative;
    
     padding: 15px 50px;
     overflow: hidden;
   }


   button:hover:before{opacity: 1; transform: translate(0,0);}
   button:before{
     content: attr(data-hover);
     position: absolute;
     top: 1.1em; left: 0;
     width: 100%;
     letter-spacing: 3px;
     font-weight: 800;
     font-size: 28px;;
     opacity: 0;
     transform: translate(-100%,0);
     transition: all .3s ease-in-out;
   }
  
     button:hover div{opacity: 0; transform: translate(100%,0)}
     button div{
       margin-top: 15px;
       text-transform: uppercase;
       letter-spacing: 3px;
       font-weight: 800;
       font-size: 28px;
       transition: all .3s ease-in-out;
     }

#input-area {
 margin-top: 8px;
 width: 80%;
}

#map {
 height: 100vh;
 width: 100vw;

}
